.reviews {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reviewItem {
  flex-basis: 40%;
}

.author {
  text-align: center;
}

.text {
  color: #202020;
}
